{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_courseimport/import_status

    Single-course import progress: heading, core async progress bar, detail text, and return button.
    Initialises block_courseimport/async via the template {{js}} section to poll job progress.
    The AMD module selects elements by id using backupid as a prefix (for example #{{backupid}},
    #{{backupid}}_status, #{{backupid}}_bar from core/async_backup_progress, #{{backupid}}_detail,
    #{{backupid}}_button).
    See {@link https://moodledev.io/docs/5.0/guides/templates#documenting-the-templates template documentation}.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * backupid Import job id (string or int) used as HTML id prefix and passed to Async.init().
    * courseurl URL for the "return to course" button.
    * width Optional bar width in pixels for the core/async_backup_progress partial (defaults inside core template).
    * operation Optional string for the core partial (e.g. backup).

    Example context (json):
    {
        "backupid": "76",
        "courseurl": "/course/view.php?id=6",
        "width": "500",
        "operation": "backup"
    }
}}
<div class="progressbar_container" id="{{backupid}}">
    <h3 id="{{backupid}}_status">{{# str }} importpending, block_courseimport {{/ str }}</h3>
    {{> core/async_backup_progress }}
    <p id="{{backupid}}_detail">{{# str }} asyncnowait, backup {{/ str }}</p>
    <a id="{{backupid}}_button" href="{{courseurl}}" class="btn btn-primary">{{# str }} asyncreturn, backup {{/ str }}</a>
</div>

{{#js}}
    require(['block_courseimport/async'], function(Async) {
        Async.init("{{backupid}}");
    });
{{/js}}
