{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_courseimport/import_page_with_tabs

    Import page shell: Bootstrap tabs with the standard single-course import markup in the first pane
    and a second tab that links to the bulk CSV rollover page.

    Classes required for JS:
    * none (Bootstrap tab markup only; bulk tab is a normal link.)

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * bulkurl URL to the bulk CSV upload index (plain URL string).
    * singletablabel Label for the active "single import" tab.
    * bulktablabel Label for the bulk rollover tab (link text).
    * singlecontent Raw HTML for the single-import flow (output of core backup/import UI).

    Example context (json):
    {
        "bulkurl": "/blocks/courseimport/bulk/index.php",
        "singletablabel": "Import from another course",
        "bulktablabel": "Bulk rollover (CSV)",
        "singlecontent": "<div class=\\"import-course-selector backup-restore\\"><p>Example single-import content</p></div>"
    }
}}
<div class="block-courseimport-import-tabs mb-4">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="courseimport-tab-single" data-bs-toggle="tab" href="#courseimport-pane-single" role="tab" aria-controls="courseimport-pane-single" aria-selected="true">
                {{singletablabel}}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="courseimport-tab-bulk" href="{{bulkurl}}" role="tab">
                {{bulktablabel}}
            </a>
        </li>
    </ul>
    <div class="tab-content border border-top-0 p-3">
        <div class="tab-pane fade show active" id="courseimport-pane-single" role="tabpanel" aria-labelledby="courseimport-tab-single">
            {{{singlecontent}}}
        </div>
    </div>
</div>
